//  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (max-width:576px) {

    // ----------------------------------------------header-------------------------------------------------
    #header-banner {
        display: none;
    }

    // --------------------------------------header content---------------------------------------
    #header-content {
        padding: 188px 0;
        width: 100%;
        margin-left: 0%;
        align-items: center;

        >p {
            text-align: center;
        }

        >h1 {
            font-size: 55px;
            text-align: center;
        }
    }

    // ----------------------------------------------main-------------------------------------------------
    // --------------------------------------about---------------------------------------
    #about {
        width: 100%;
        padding: 80px 0;
    }

    #about-detail-text {
        padding-left: 0%;
    }

    #about-detail-img {
        display: flex;
        justify-content: center;
        align-items: center;

        >figure {
            transform: scale(.7);
        }
    }

    #about-cards {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        margin: 50px auto 0 auto;
    }

    // --------------------------------------coffee menu---------------------------------------

    #menu-items {
        width: 95%;
    }

    // --------------------------------------why---------------------------------------
    #why {
        padding: 100px 0;
    }

    #why-img {
        justify-content: center;

        >figure {
            height: 400px;
            width: 90%;
        }
    }

    #why-title {
        padding-left: 5%;
        margin-top: 50px;

        >div {
            width: auto;
        }
    }

    // --------------------------------------client---------------------------------------

    #client-cards {
        width: 100%;

    }

    // --------------------------------------update---------------------------------------

    #update-title {
        padding: 20px;
    }

    #update-cards {
        width: 100%;

        >section {
            margin-top: 40px;
        }
    }

    // --------------------------------------booking---------------------------------------
    #booking {
        width: 100%;
        padding: 50px 0;
        position: relative;

        >div {
            width: 95%;
            flex-direction: column;
            align-items: start;

            >span {
                margin-top: 40px;
            }
        }
    }

    // ----------------------------------------------footer-------------------------------------------------
    #footer-content {
        width: 90%;
        margin: 0 auto;

        >div {
            height: 240px;
            margin-top: 50px;
        }
    }

    #footer-logo {
        height: 50px !important;
    }

    #footer-mehrab {
        width: 90%;
    }

}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:576px) {

    // ----------------------------------------------header-------------------------------------------------
    #header-banner {
        display: none;
    }

    // --------------------------------------header content---------------------------------------
    #header-content {
        padding: 188px 0;
        width: 100%;
        margin-left: 0%;
        align-items: center;

        >p {
            text-align: center;
        }

        >h1 {
            font-size: 55px;
            text-align: center;
        }
    }

    // ----------------------------------------------main-------------------------------------------------
    // --------------------------------------about---------------------------------------
    #about {
        width: 100%;
        padding: 80px 0;
    }

    #about-detail-text {
        padding-left: 0%;
    }

    #about-detail-img {
        display: flex;
        justify-content: center;
        align-items: center;

        >figure {
            transform: scale(.7);
        }
    }

    #about-cards {
        width: 90%;
        margin: 50px auto 0 auto;
    }

    // --------------------------------------coffee menu---------------------------------------

    #menu-items {
        width: 95%;
    }

    // --------------------------------------why---------------------------------------
    #why {
        padding: 100px 0;
    }

    #why-img {
        justify-content: center;

        >figure {
            height: 400px;
            width: 90%;
        }
    }

    #why-title {
        padding-left: 5%;
        margin-top: 50px;

        >div {
            width: auto;
        }
    }

    // --------------------------------------client---------------------------------------

    #client-cards {
        width: 100%;

    }

    // --------------------------------------update---------------------------------------

    #update-title {
        padding: 20px;
    }

    #update-cards {
        width: 100%;

        >section {
            margin-top: 40px;
        }
    }

    // --------------------------------------booking---------------------------------------
    #booking {
        width: 100%;
        padding: 50px 0;
        position: relative;

        >div {
            width: 95%;
            flex-direction: column;
            align-items: start;

            >span {
                margin-top: 40px;
            }
        }
    }

    // ----------------------------------------------footer-------------------------------------------------
    #footer-content {
        width: 90%;
        margin: 0 auto;

        >div {
            height: 240px;
            margin-top: 50px;
        }
    }

    #footer-logo {
        height: 50px !important;
    }

    #footer-mehrab {
        width: 90%;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:768px) {

    // ----------------------------------------------main-------------------------------------------------
    // --------------------------------------why---------------------------------------
    #why {
        padding: 100px 0;
    }

    #why-img {
        justify-content: center;

        >figure {
            height: 700px;
            width: 90%;
        }
    }

    #why-title {
        padding-left: 5%;
        margin-top: 50px;

        >div {
            width: auto;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:992px) {

    // ----------------------------------------------header-------------------------------------------------
    #header-banner {
        display: flex;
    }

    // --------------------------------------header content---------------------------------------
    #header-content {
        padding: 188px 0;
        width: 100%;
        margin-left: 0%;
        align-items: center;

        >p {
            text-align: center;
        }

        >h1 {
            font-size: 60px;
            text-align: center;
        }
    }

    // ----------------------------------------------main-------------------------------------------------
    // --------------------------------------why---------------------------------------
    #why {
        padding: 150px 0;
    }

    #why-img {
        justify-content: end;

        >figure {
            height: 700px;
            width: 90%;
        }
    }

    #why-title {
        padding-left: 5%;
        margin-top: 0px;

        >div {
            width: auto;
        }
    }

    // --------------------------------------booking---------------------------------------
    #booking {
        width: 100%;
        padding: 50px 0;
        position: relative;

        >div {
            width: 95%;
            flex-direction: row;
            align-items: center;

            >span {
                margin-top: 0px;
            }
        }
    }

    // ----------------------------------------------footer-------------------------------------------------
    #footer-content {
        width: 95%;
        margin: 0 auto;

        >div {
            height: 240px;
            margin-top: 50px;
        }
    }

    #footer-logo {
        height: 50px !important;
    }

    #footer-mehrab {
        width: 95%;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1200px) {

    // ----------------------------------------------main-------------------------------------------------
    // --------------------------------------about---------------------------------------
    #about {
        width: 100%;
        padding: 80px 0;
    }

    #about-detail-text {
        padding-left: 0%;
    }

    #about-detail-img {
        display: flex;
        justify-content: center;
        align-items: center;

        >figure {
            transform: scale(.8);
        }
    }

    #about-cards {
        width: 100%;
        margin: 50px auto 0 auto;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1400px) {

    // ----------------------------------------------header-------------------------------------------------
    // --------------------------------------header content---------------------------------------
    #header-content {
        padding: 138px 0;
        width: 40%;
        margin-left: 20%;
        align-items: start;

        >p {
            text-align: start;
        }

        >h1 {
            font-size: 100px;
            text-align: start;
        }
    }

    // ----------------------------------------------main-------------------------------------------------
    // --------------------------------------about---------------------------------------
    #about {
        width: 100%;
        padding: 80px 0;
    }

    #about-detail-text {
        padding-left: 0%;
    }

    #about-detail-img {
        display: flex;
        justify-content: center;
        align-items: center;

        >figure {
            transform: scale(.9);
        }
    }

    #about-cards {
        width: 90%;
        margin: 50px auto 0 auto;
    }

    // --------------------------------------coffee menu---------------------------------------

    #menu-items {
        width: 80%;
    }

    // --------------------------------------why---------------------------------------
    #why {
        padding: 150px 0;
    }

    #why-img {
        justify-content: end;

        >figure {
            height: 700px;
            width: 80%;
        }
    }

    #why-title {
        padding-left: 5%;
        margin-top: 0px;

        >div {
            width: 450px;
        }
    }

    // --------------------------------------gallery---------------------------------------
    #gallery-cards {
        width: 60%;

    }

    // --------------------------------------client---------------------------------------

    #client-cards {
        width: 85%;

    }

    // --------------------------------------update---------------------------------------

    #update-title {
        padding: 0px;
    }

    #update-cards {
        width: 80%;

        >section {
            margin-top: 0px;
        }
    }

    // --------------------------------------booking---------------------------------------
    #booking {
        width: 100%;
        padding: 50px 0;
        position: relative;

        >div {
            width: 80%;
            flex-direction: row;
            align-items: center;

            >span {
                margin-top: 0px;
            }
        }
    }

    // ----------------------------------------------footer-------------------------------------------------
    #footer-content {
        width: 80%;
        margin: 0 auto;

        >div {
            height: 240px;
            margin-top: 50px;
        }
    }

    #footer-logo {
        height: 50px !important;
    }

    #footer-mehrab {
        width: 80%;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1600px) {

    // ----------------------------------------------header-------------------------------------------------
    // --------------------------------------header content---------------------------------------
    #header-content {
        padding: 188px 0;
        width: 40%;
        margin-left: 20%;
        align-items: start;

        >p {
            text-align: start;
        }

        >h1 {
            font-size: 120px;
            text-align: start;
        }
    }

    // ----------------------------------------------main-------------------------------------------------
    // --------------------------------------about---------------------------------------
    #about-detail-text {
        padding-left: 15%;
    }

    #about-detail-img {
        display: flex;
        justify-content: start;
        align-items: center;

        >figure {
            transform: scale(1);
        }
    }

    #about-cards {
        width: 65%;
        margin: 100px auto 0 auto;
    }

    // --------------------------------------coffee menu---------------------------------------

    #menu-items {
        width: 60%;
    }

    // --------------------------------------why---------------------------------------
    #why {
        padding: 150px 0;
    }

    #why-img {
        justify-content: end;

        >figure {
            height: 700px;
            width: 59%;
        }
    }

    #why-title {
        padding-left: 5%;
        margin-top: 0px;

        >div {
            width: 450px;
        }
    }

    // --------------------------------------gallery---------------------------------------
    #gallery-cards {
        width: 100%;

    }

    // --------------------------------------client---------------------------------------

    #client-cards {
        width: 65%;

    }

    // --------------------------------------update---------------------------------------

    #update-title {
        padding: 0px;
    }

    #update-cards {
        width: 65%;

        >section {
            margin-top: 0px;
        }
    }

    // --------------------------------------booking---------------------------------------
    #booking {
        width: 100%;
        padding: 50px 0;
        position: relative;

        >div {
            width: 65%;
            flex-direction: row;
            align-items: center;

            >span {
                margin-top: 0px;
            }
        }
    }

    // ----------------------------------------------footer-------------------------------------------------
    #footer-content {
        width: 65%;
        margin: 0 auto;

        >div {
            height: 240px;
            margin-top: 50px;
        }
    }

    #footer-logo {
        height: 50px !important;
    }
    #footer-mehrab {
        width: 65%;
    }
}